body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

main section {
  padding: 15px;
  border-bottom: 1px solid #CCC;
}

/*
** HEADER
*/
header {
  background: #171717;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}
header .title-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .title-bar h1 {
  color: #FFCE00;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
header .title-bar h1 span {
  color: #F3F3F3;
  font-weight: 300;
}
header .title-bar h3 {
  color: #888;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/*
** ONLINE
*/
.online {}
.online h3 {
  margin: 0;
  padding: 0;
  color: #AAA;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}
.online .users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.online .users .user {
  overflow: hidden;
  color: #AAA;
  text-align: center;
  padding: 5px;
  text-overflow: ellipsis;
  border-bottom: 1px dashed #CCC;
}